@import './styles/_aluno.css';
@import './styles/_components.css';
@import './styles/_ios.css';
@import './styles/_login.css';
@import './styles/_mobile.css';
@import './styles/_pdf.css';
@import './styles/_reset.css';
@import './styles/_variables.css';
@import './styles/_admin.css';
@import './styles/_politica-privacidade.css';