:root{
    --bg:#070707;
    --text:#f3f3f3;
    --muted:rgba(255,255,255,.68);
  
    --gold:#ceac5e;
    --gold2:#f0d690;
  
    --stroke:rgba(255,255,255,.08);
    --shadow: 0 18px 70px rgba(0,0,0,.55);
  
    --radius:22px;
    --radius2:16px;
  
    --font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}